@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <thead>
            <tr>
                <td>Dag</td>
                <td>Varm ret</td>
                <td>Kold ret</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Man 02</td>
                <td>Kylling & Pasta</td>
                <td>Smørebrød</td>
            </tr>
            <tr>
                <td>Tirs 03</td>
                <td>Græskarsuppe</td>
                <td>Pastasalat</td>
            </tr>
        </tbody>
    </table>

</div>
